/*全局样式表*/
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

.el-breadcrumb {
    margin-bottom: 15px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12) !important;
}

.el-table  {
    margin-top: 15px;
}
.cell{
    font-size: 14px;
}
.el-pagination {
    margin-top: 15px;
}
/*公共属性写这里了*/
.el-cascader-panel {
    height: 400px;
}
.zk-table__header{
    font-size: 10px;
    color: #9093A6;
}
.el-steps {
    margin: 15px 0;
}
.el-step__title {
    font-size: 13px;
}
/*添加富文本编辑器的最小高度*/
.ql-editor {
    min-height: 300px;
}

